{% extends '::base.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="has-error">
        {{ form_start(form,{attr: {novalidate: 'novalidate'}}) }}

        {{ form_row(form.time) }}

        {{ form_row(form.components) }}
        {{ form_row(form._token) }}
        <input type="submit" value="Losuj"
               class="btn btn-default pull-middle" />
    </div>
{% endblock %}