{% extends '::base1.html.twig' %}

{% block content %}

    {% for randomRecipe in randomRecipe %}
        <div class="leftFloater TextToShow">
            <div>
                <h1 class="BoldPadding">{{ randomRecipe.name }}</h1>
            </div>
            <div>
                <p class="BottomPadding">Czas przygotowania: {{ randomRecipe.time }} minut</p>
            </div>
            <div>
                {{ randomRecipe.preparation }}
            </div>
            <div class="marginRight">

                <p>-{{ randomRecipe.author }}</p>
            </div>
        </div>

        <div class="ImagePlacer leftFloater">
            <img class="" src="{{ asset('uploads/images/' ~ randomRecipe.image) }}"/>
        </div>
        {% endfor %}

{% endblock %}