{% extends '::base1.html.twig' %}
{% block javascripts %}
{{ parent() }}
    <script>
        $('#input-id').rating();
        var displayValue = function (){
            console.log('halo');
        };
        displayValue();
    </script>
{% endblock %}
{% block content %}
    <script>
        ScrollDown('#DrawnRecipe')
    </script>
    <div id ="DrawnRecipe">
    {% for randomRecipe in randomRecipe %}

        <div class="leftFloater TextToShow">
            <div>
                <h1 class="BoldPadding">{{ randomRecipe.name }}</h1>
            </div>
            <div>
                <p class="BottomPadding">Czas przygotowania: {{ randomRecipe.time }} minut</p>
            </div>
            <div>
                {{ randomRecipe.preparation }}
            </div>
            <div class="marginRight">
                <p>-{{ randomRecipe.owner.username }}</p>
            </div>
            Aktualna ocena przepisu:
            <input id="input-id" name="input-name" type="number" class="rating" data-stars="10" min=1 max=10 step=0.5 data-size="xs">
        </div>

        <div class=" leftFloater ">
            <img class = "ImagePlacer img-responsive" src="{{ asset('uploads/images/' ~ randomRecipe.image) }}"/>
        </div>

        {% endfor %}
    </div>
{% endblock %}