{% extends '::base1.html.twig' %}
{% block javascripts %}
    {{ parent() }}
<script>        //

    $(document).ready( function() {
        $('.js-rate-toggle').on('click', function(e) {
            // prevents the browser from "following" the link
            e.preventDefault();

            //Routing.generate( 'deal_with_rating', { 'recipeId': {{ randomRecipe.id }}, 'givenRating': $("#input-rating").val() });
            var $anchor = $(this);
            var url = Routing.generate('deal_with_rating', { 'recipeId': {{ randomRecipe.id }}, 'givenRating': $("#input-rating").val(), 'format': 'json' });
            $.post(url, null, function(data) {
                if (data.rated) {
                    document.getElementById('givenRating').innerHTML='<h5 id="givenRating" class="BoldPadding">{{ 'Your last rating' | trans }}: ' + data.givenRating + '/10</h5>';
                    document.getElementById('averageRating').innerHTML='<h5 id="averageRating" class="BoldPadding">{{ 'Average rating' | trans }}: ' + data.averageRating + '/10</h5>';
                    document.getElementById('numberOfRatings').innerHTML='<h5 id="numberOfRatings" class="BoldPadding">{{ 'Number of ratings' | trans }}: ' + data.numberOfRatings + '</h5>';
                }
                document.getElementById('wrapperForInput').innerHTML= 'Dziękujemy za oddanie głosu!';
                $anchor.hide();
            });
        });
    });
    ScrollDown('#DrawnRecipe');
</script>

{% endblock %}
{% block content %}
    <div id ="DrawnRecipe">
            <div class="leftFloater TextToShow">
                <div>
                    <h1 class="BoldPadding">{{ randomRecipe.name }}</h1>
                </div>
                <div>
                    <p class="BottomPadding">Czas przygotowania: {{ randomRecipe.time }} minut</p>
                </div>
                <div>
                    {{ randomRecipe.preparation }}
                </div>
                <div class="marginRight">
                    <p>-{{ randomRecipe.owner.username }}</p>
                </div>
                <div id = 'ratingInside'>
                    {% if numberOfRatings != 0 %}
                        <h5 id="averageRating" class="BoldPadding">{{ 'Average rating' | trans }}: {{ averageRating }}/10</h5>
                        <h5 id="numberOfRatings" class="BoldPadding">{{ 'Number of ratings' | trans}}: {{ numberOfRatings }}</h5>
                    {% else %}
                        <h5>{{ 'No rating' | trans }}</h5>
                    {% endif %}

                    {% if givenRating != 0 %}
                        <h5 id="givenRating" class="BoldPadding">{{ "Your last rating" | trans }}: {{ givenRating }}/10</h5>
                            <h3 id = "wrapperForInput">
                                <a href=""><input id="input-rating" name="rating" type="number" class="rating js-rate-toggle" data-max="10" data-min="1" step=1
                                        value="{{ givenRating }}"></a>
                            </h3>
                    {% else %}
                            <h3 id = "wrapperForInput">
                                <a href=""><input id="input-rating" name="rating" type="number" class="rating js-rate-toggle" data-max="10" data-min="1" step=1
                                   value="{{ givenRating }}"></a>
                            </h3>
                    {% endif %}
                </div>
            </div>
            <div class=" leftFloater ">
                <img class = "ImagePlacer img-responsive" src="{{ asset('uploads/images/' ~ randomRecipe.image) }}"/>
            </div>

            {% block commentblock %}
                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}
            {% endblock %}
    </div>

{% endblock %}
