<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
            <link rel="stylesheet" href="{{ asset('bundles/WhatsToEat/css/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/WhatsToEat/css/fontello.css') }}" type="text/css" />
            <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600&subset=latin,latin-ext'
                  rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lato&subset=latin,latin-ext'
                  rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-1.12.4.min.js"
                    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                    crossorigin="anonymous"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="{{ asset('bundles/WhatsToEat/js/script.js') }}"></script>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/WhatsToEat/images/logo.png') }}" />
        {% endblock %}
    </head>
    {% if app.session.flashbag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashbag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>

    {% endif %}
    {% block body %}
        <body>
            <div class="container">

                <div class="page-header">
                    <div style="float:left;"><h1><a href="{{ path('home')}}">What's to eat?</a></h1></div>
                        <img class="img-responsive" src={{ asset('bundles/WhatsToEat/images/logo.png') }}  />
                </div>

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a id="dodajPrzepis" href="{{path('dodaj_przepis')}}">Dodaj przepis</a></li>
                        </ul>
                    </div>
                </nav>

                <div id="content">
                    {% block content %}
                        <h1 id="napisPrzepis">Wylosuj przepis!</h1>
                    {% endblock %}
                </div>
            </div>
            <div class="footer">
                &copy; 2016 <br/>
                Kontakt: czaros45@gmail.com
            </div>
        </body>
    {% endblock %}


</html>
