<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/WhatsToEat/css/style.css') }}" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                  crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/WhatsToEat/images/logo.png') }}" />
    </head>
    <body>
        {% block body %}
            <div id="container" class="container-fluid" >
                <p id ="napis"><a href="path{{ '/' }}" id="napisLogo">What's to eat?</a></p>
                <img  id="zdjecielogo" src={{ asset('bundles/WhatsToEat/images/logo.png') }}/>

                <div class="nav">
                    <ol>
                        <li><a href="path{{ '/' }}">Dodaj przepis</a></li>
                    </ol>
                </div>

                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="footer">
                &copy; 2016 <br/>
                Kontakt: czaros45@gmail.com
            </div>
            </div>

        {% endblock %}
        {% block javascripts %}
            <script   src="https://code.jquery.com/jquery-1.12.4.min.js"
                      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                      crossorigin="anonymous"></script>
            {% javascripts 'bundles/WhatsToEat/js/stript.js' %}
                <script src="{{ asset_url }}">
                    $(document).ready(function() {
                        var NavY = $('.nav').offset().top;
                        $("#draggable").draggable();
                        var stickyNav = function () {
                            var ScrollY = $(window).scrollTop();

                            if (ScrollY > NavY) {
                                $('.nav').addClass('sticky');
                            }
                            else {
                                $('.nav').removeClass('sticky');
                            }
                        };
                        stickyNav();
                        $(window).scroll(function () {
                            stickyNav();
                        });
                    });
                </script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
