{% extends '::base1.html.twig' %}

{% block body %}
        <div id="AdminContainer">
            <h1 class="text-center BottomPadding"> Liczba przepisów do zaakceptowania: {{recipeToAccept|length }}</h1>
            <div id="RecipesContainer">
                {% for recipe in recipeToAccept %}
                    <div class="DrawnRecipeForAdmin">
                         <div class="BottomPadding">
                                <div class="leftFloater TextToShow">
                                        <div>
                                                <h1 class="BoldPadding">{{ recipe.name }}</h1>
                                        </div>
                                        <div>
                                                <p class="BottomPadding">Czas przygotowania: {{ recipe.time }} minut</p>
                                        </div>
                                        <div>
                                                {{ recipe.preparation }}
                                        </div>
                                        <div class="marginRight">
                                                <p>-{{ recipe.author }}</p>
                                        </div>
                                </div>

                                <div class="ImagePlacer leftFloater">
                                        <img class="" src="{{ asset('uploads/images/' ~ recipe.image) }}"/>
                                </div>
                                <div class="styleClearer"></div>
                        </div>

                        <div class="ButtonsContainer">
                                <form method="GET" action="{{ path('home') }}">
                                        <input type="submit" value="Wyjdź"
                                               class="btn btn-primary btn-xl pull-left leftFloater " />
                                </form>

                                <form method="GET">
                                        <input type="submit" name = "acceptRecipe{{ recipe.id }}" value="Akceptuj przepis"
                                               class="btn btn-primary btn-xl pull-middle leftFloater" />
                                </form>
                                <form method="GET">
                                        <input type="submit" name = "deleteRecipe{{ recipe.id }}" value="Usuń przepis"
                                               class="btn btn-primary btn-xl pull-middle leftFloater" />
                                </form>
                         </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}