<!DOCTYPE html>
<html>
<head>
    <title>Panel admina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('adminPanel/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('adminPanel/css/styles.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/WhatsToEat/css/creative.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="index.html">Panel admina</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="{{ path('admin_panel') }}"><i class="glyphicon glyphicon-home"></i>Przeglądaj
                            przepisy</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="content-box-large">

                    <div id="AdminContainer">
                        <h1 class="text-center BottomPadding"> Liczba przepisów do
                            zaakceptowania: {{ recipeToAccept|length }}</h1>
                        <div id="RecipesContainer">
                            {% for recipe in recipeToAccept %}
                            <div id="DrawnRecipe" class ="DrawnRecipe">
                                <div class="leftFloater TextToShow">
                                    <div>
                                        <h1 class="BoldPadding">{{ recipe.name }}</h1>
                                    </div>
                                    <div>
                                        <p class="BottomPadding">Czas przygotowania: {{ recipe.time }} minut</p>
                                    </div>
                                    <div>
                                        {{ recipe.preparation }}
                                    </div>
                                    <div class="marginRight">
                                        <p>-{{ recipe.owner.username }}</p>
                                    </div>

                                    <div class="marginRight">
                                        <p>-{{ recipe.type }}</p>
                                    </div>
                                </div>

                                <div class=" leftFloater ">
                                    <img class="ImagePlacer img-responsive" src="{{ asset('uploads/images/' ~ recipe.image) }}"/>
                                </div>
                                <div class="styleCleaner"></div>

                                <div class="ButtonsContainer">
                                    <form method="GET" action="{{ path('home') }}">
                                        <input type="submit" value="Wyjdź"
                                               class="btn btn-primary btn-xl pull-left leftFloater "/>
                                    </form>

                                    <form method="GET">
                                        <input type="submit" name="acceptRecipe{{ recipe.id }}" value="Akceptuj przepis"
                                               class="btn btn-primary btn-xl pull-middle leftFloater"/>
                                    </form>
                                    <form method="GET">
                                        <input type="submit" name="deleteRecipe{{ recipe.id }}" value="Usuń przepis"
                                               class="btn btn-primary btn-xl pull-middle leftFloater"/>
                                    </form>
                                </div>

                                <div class="styleClearer"></div>
                            </div>
                        </div>
                        <div class="BottomPadding"></div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="copy text-center">
            Not original admin panel
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>














