{% extends '::base1.html.twig' %}

{% block javascripts %}
    {% if not app.user %}
        <script>window.location.href ={{"fos_user_security_login"}}</script>
    {% endif %}
    {{ parent() }}
    <script>
        ScrollDown('#ChooseMealToUpload');
    </script>
{% endblock %}
{% block content %}

    <section class="text-center">
        <h1 id="ChooseMealToUpload">Dodaj przepis!</h1>
        <div id="types">
            <a href="{{ path('add_breakfast') }}">
                <div class="type leftFloater" id="breakfast">
                    <p>Śniadanie</p>
                </div>
            </a>

            <a href="{{ path('add_dinner') }}">
                <div class="type leftFloater" id="dinner">
                    <p>Obiad</p>
                </div>
            </a>
            <div class="styleClearer"></div>

            <a href="{{ path('add_supper') }}">
                <div class="type leftFloater" id="supper">
                    <p>Kolacja</p>
                </div>
            </a>

            <a href="{{ path('add_dessert') }}">
                <div class="type leftFloater" id="dessert">
                    <p>Deser/przekąska</p>
                </div>
            </a>
            <div class="styleClearer"></div>
        </div>
    </section>
{% endblock %}