{% extends '::layout.html.twig' %}

{% block ExceptNavbar %}

    <!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->
    <div class="ProfileContainer">
        <div class="ProfileWrapper">
            <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <div class="profile-userpic">
                            <img class="userLogo img-responsive" src="{{ asset('uploads/logos/' ~ app.user.image) }}"/>
                        </div>

                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                {{ app.user.username }}
                            </div>

                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->

                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li class="active">
                                    <a href="{{ path('fos_user_profile_show') }}">
                                        <i class="glyphicon glyphicon-home"></i>
                                        Profil </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_profile_edit') }}">
                                        <i class="glyphicon glyphicon-user"></i>
                                        Zmień nazwę użytkownika lub email </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_change_password') }}">
                                        <i class="glyphicon glyphicon-user"></i>
                                        Zmień hasło </a>
                                </li>
                                <li>
                                    <a href="{{ path('change_logo') }}">
                                        <i class="glyphicon glyphicon-user"></i>
                                        Zmień logo </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                </div>
                <div class="col-md-9">

                    <div class="profile-content">
                    {% block profileContent %}

                        <h3 class=" BottomPadding"> //TODO: WYSWIETLA ZAAKCEPTOWANE I NIEZAAKCEPTOWANE: {{uploadedRecipes|length }}</h3>

                        {% for recipe in uploadedRecipes %}
                        <div class="DrawnRecipe">
                                <div class="leftFloater TextToShow">
                                    <div>
                                        <h1 class="BoldPadding">{{ recipe.name }}</h1>
                                    </div>
                                    <div>
                                        <p class="BottomPadding">Czas przygotowania: {{ recipe.time }} minut</p>
                                    </div>
                                    <div>
                                        {{ recipe.preparation }}
                                    </div>
                                    <div class="marginRight">
                                        <p>-{{ recipe.owner.username }}</p>
                                    </div>

                                    <div class="marginRight">
                                        <p>Typ: {{ recipe.type }}</p>
                                    </div>
                                </div>

                                <div class="leftFloater">
                                    <img class="ImagePlacer img-responsive"
                                         src="{{ asset('uploads/images/' ~ recipe.image) }}"/>
                                </div>
                                <div class="styleClearer"></div>
                        </div>
                            <div class="BottomPadding"></div>
                        {% endfor %}
                    {% endblock %}
                    </div>
            </div>
        </div>
        </div>
    </div>
{% endblock ExceptNavbar %}