{% extends '::base1.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block javascripts %}
    {% if not app.user %}
        <script>window.location.href ={{"fos_user_security_login"}}</script>
    {% endif %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('html, body').stop().animate({
                scrollTop: ($('#UploadRecipe').offset().top - 50)
            }, 1250, 'easeInOutExpo');
            event.preventDefault();
        });
    </script>
{% endblock %}
{% block content %}
    <h1 id="UploadRecipe">Dodaj przepis!</h1>

    {{ form_start(form) }}


        {{ form_row(form.time) }}

        {{ form_row(form.components) }}

        {{ form_row(form.name) }}

        {{ form_row(form.image) }}

        {{ form_row(form.preparation) }}

        <input type="submit" value="Dodaj przepis"
               class="btn btn-primary btn-xl text-center" />
    {{ form_row(form._token) }}
{% endblock %}